
weilion-tech(id=app+"-tech")
	.container 
		.row 
			.col-12
				h2.weispace-animated wei tech
				ul#weilionTechTab.nav.nav-tabs(role="tablist")
					li.nav-item(role="presentation")
						a#techpurpose-tab.nav-link.active(data-toggle="tab", href="#techpurpose", role="tab", aria-controls="techpurpose", aria-selected="true") 
							img(src="./img/saturn.png") 
							span orbit
					li.nav-item(role="presentation")
						a#techadvantages-tab.nav-link(data-toggle="tab", href="#techadvantages", role="tab", aria-controls="techadvantages", aria-selected="false") 
							img(src="./img/satellite.png") 
							span modules
				#weilionTechTabContent.tab-content
					#techpurpose.tab-pane.show.active(role="tabpanel", aria-labelledby="techpurpose-tab")
						.infobox
							.row 
								.col-lg-4.col-xl-7
									img.mb-4.mb-lg-0(src="./img/weitech.png", alt="", srcset="")
								.col-lg-8.col-xl-5
									h3 The Soyuz Tma-9
									p Welion space is a matrix space station for the development of space exploration ecosystem using WEI energy for the initiation process. 
									p Theoretically, the WEI energy is made from each point in the blockchain space which is block-quantized in the matrix by the chain platform source core with core multi matters, for example Binance Smart Chain or Aleph Zero. 
									p Chain platform source cores are encrypted in unique NFT form as a unique matter in blockchain space exploration.
					#techadvantages.tab-pane(role="tabpanel", aria-labelledby="techadvantages-tab")
						.infobox
							ul.mb-0.pl-3
								li Explore the endless universe and the most advanced technologies.
								li Expanding matrix Mission
								li Create a space-cosmic matrix through an infinitely expanding blockchain platform
								li Simulate and test logical hypotheses from the 
									span welion 
									| energy source into space through the Blockchain ecosystem
								li Convert discoveries to NFT assets and create a common playing field
								li Search for life on planets in space.