
weilion-copyright(id=app+"-copyright")
	.container 
		.row 
			.col-12
				.copyright 
					ul.list-inline.animatable(data-animate="animate__fadeInUp")
						li.list-inline-item
							a(href="https://www.facebook.com/weilionspacestation" target="_blank")
								i.fa.fa-facebook
						li.list-inline-item
							a(href="#" target="_blank")
								i.fa.fa-reddit-alien
						li.list-inline-item
							a(href="https://twitter.com/weilionspace" target="_blank")
								i.fa.fa-twitter 
						li.list-inline-item
							a(href="https://t.me/weilionofficechanel" target="_blank")
								i.fa.fa-paper-plane 
						li.list-inline-item
							a(href="#" target="_blank")
								i.fa.fa-instagram 
						li.list-inline-item
							a(href="#" target="_blank")
								i.fa.fa-youtube-play 
					.logo.animatable(data-animate="animate__fadeInUp animate__fast")
						a(href="/#weilion-home") 
							img(src="./img/logo-big.png", alt="Weilion Logo")
					.copytext.animatable(data-animate="animate__fadeInUp animate__slow") &copy; 2022 WEILION. All rights reserved.
