weilion-resources(id=app+"-resources")
	.container 
		.row 
			.col-12
				.text-md-right
					h2.weispace-animated resources
					.noteres.animatable.mb-md-4(data-animate="animate__fadeIn animate__slow")
						h3 Our Evergrowing Collection of Resources
						p Explore resource types with this curated collection of classroom resources.
				
				.numberbox.my-3.my-lg-4.my-lg-5 
					.item.animatable(data-animate="animate__fadeInUp animate__faster")
						.inner
							h3 News
							p Latest product and industry updates
							ul.list-inline.animatable(data-animate="animate__fadeInUp")
								li.list-inline-item
									a(href="javascript:void(0);", data-toggle="modal", data-target="#weilionBackdrop") view more
										| &nbsp;
										i.fa.fa-long-arrow-right
					.item.animatable(data-animate="animate__fadeInUp animate__fast")
						.inner
							h3 White Paper
							p An in-depth read on compliance across regions
							ul.list-inline.animatable(data-animate="animate__fadeInUp")
								li.list-inline-item
									a(href="https://docs.weilion.com/", target="_blank") white paper
										| &nbsp;
										i.fa.fa-long-arrow-right
										//- | &nbsp;
										//- i.fa.fa-link
								li.list-inline-item
									a(href="https://docsend.com/view/r7gie8ma8tpsmsf4", target="_blank") pitch deck weimong
										| &nbsp;
										i.fa.fa-long-arrow-right
								li.list-inline-item
									a(href="https://docsend.com/view/hsa2ppabd5qz4mky", target="_blank") pitch deck weilion
										| &nbsp;
										i.fa.fa-long-arrow-right
					.item.animatable(data-animate="animate__fadeInUp")
						.inner
							h3 Brochures
							p Information about our company and products
							ul.list-inline.animatable(data-animate="animate__fadeInUp")
								li.list-inline-item
									a(href="javascript:void(0);", data-toggle="modal", data-target="#weilionBackdrop") view more
										| &nbsp;
										i.fa.fa-long-arrow-right
					.item.animatable(data-animate="animate__fadeInUp animate__slow")
						.inner
							h3 Guides
							p Walkthroughs on setting up and using Weilion
							ul.list-inline.animatable(data-animate="animate__fadeInUp")
								li.list-inline-item
									a(href="javascript:void(0);", data-toggle="modal", data-target="#weilionBackdrop") view more
										| &nbsp;
										i.fa.fa-long-arrow-right
					.item.animatable(data-animate="animate__fadeInUp animate__slower")
						.inner
							h3 Support
							p Tips and tricks for troubleshooting Weilion
							ul.list-inline.animatable(data-animate="animate__fadeInUp")
								li.list-inline-item
									a(href="javascript:void(0);", data-toggle="modal", data-target="#weilionBackdrop") view more
										| &nbsp;
										i.fa.fa-long-arrow-right