weilion-team(id=app+"-team")
	.container 
		.row.align-items-center
			.col-12.col-lg-7
				h2.weispace-animated wei team
			.col-12.col-lg-5.text-lg-right
				.my-3.my-lg-0
					.headingcore Beside 10 astronauts on the Weilion space station, we also engage members in the European Space Agency and partners around the world.
		.row.mt-3.mt-md-4.mt-lg-5
			.col-12.teams 
				h3 Executive
				.group-team.row.justify-content-center
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/adam.jpg", alt="")
							figcaption
								h4 adam do
								.info (Founder)
								.talent Pilot Commander
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/allen.jpg", alt="")
							figcaption
								h4 nam le allen
								.info (CEO/CFO/Co-Founder)
								.talent Ground Commander
		.row.mt-3.mt-md-4.mt-lg-0
			.col-12.teams 
				h3 engineer 
				.group-team.row.justify-content-center
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/chien.jpg", alt="")
							figcaption
								h4 chien phan
								.info (COO)
								.talent Ground commander of space crafts
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/sam.jpg", alt="")
							figcaption
								h4 sam
								.info (Designer)
								.talent Science Pilot
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/manh.jpg", alt="")
							figcaption
								h4 manh pham
								.info (AI, Solution & Product)
								.talent Flight engineer
					
		.row.mt-3.mt-md-4.mt-lg-0
			.col-12.teams 
				.group-team.row.justify-content-center
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/tsai.jpg", alt="")
							figcaption
								h4 stefano tsai
								.info (Product Manager)
								.talent Module Pilot, Commander Spece object specialist
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/kinh.jpg", alt="")
							figcaption
								h4 kenvin nguyen
								.info (CTO/Blockchain Developer)
								.talent Flight engineer, Load commander
					
					//- .item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/hai.jpg", alt="")
							figcaption
								h4 hai luong
								.info (Game Developer)
								.talent Flight engineer
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/cuong.jpg", alt="")
							figcaption
								h4 cuong nguyen
								.info (Animator)
								.talent Module Pilot, Mission specialist
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/nhat.jpg", alt="")
							figcaption
								h4 nhat ngoc
								.info (Frontend Developer)
								.talent Module Pilot
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/huong.jpg", alt="")
							figcaption
								h4 huong ngo
								.info (Artist)
								.talent Mission Specialist
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/nguyen.png", alt="")
							figcaption
								h4 Nguyen Pham
								.info (Fullstack Developer)
								.talent Mission Specialist
			//- .col-12.col-sm-6.col-lg-4.col-xl-3
				p.moretem 

		.row.mt-3.mt-md-4.mt-lg-0
			.col-12.teams.mt-4
				h3 advisor 
				.group-team.row.justify-content-center
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/linh.png", alt="")
							figcaption
								h4 Linh Pham
								.info (Advisor)
								.talent Founder Easy Trading
