
weilion-generation(id=app+"-generation")
	.container 
		.row 
			.col-12
				h2.weispace-animated 
					span generation
					span generation
					span generation
	.boxupto.weispace-animated
		.upto.animatable(data-animate="animate__fadeInUp") total
		.num 
			svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
				path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
			svg.weispace-animated(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
				path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
			svg.weispace-animated(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
				path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
			svg.weispace-animated(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
				path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
			svg.weispace-animated(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
				path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
			svg.weispace-animated(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 257.9 591.1")
				path(d="M150.3,236.8V109.1H0V0H179.7q37.8,0,57.9,18.9c13.4,12.6,20.2,31.5,20.2,56.7v152c0,16.2-3.8,29.8-11.3,40.7a61,61,0,0,1-30.6,23.1c28,10.1,42,33,42,68.9V515.5q0,37.8-20.2,56.7t-57.9,18.9H0V482H150.3V346H25.2V236.8Z")
			.billion 
				.item.animatable(data-animate="animate__fadeInUp animate__faster")
					.em billion
					span of energy (Token)
				.item.animatable(data-animate="animate__fadeInUp animate__fast")
					.co.d-none.d-lg-block cost
				.item.item2.animatable(data-animate="animate__fadeInUp")
					.em 15 Million
					span Weilion Tokens
	.textscroll.marquee
		span Manufacturers: Weilion Energy
		span Platform: BSC (BEP20)
		span Smart Contrast: Unchane-able
		span concept: nasa, eu space agency, spacex.
	.tabbox
		.container 
			.row 
				.col-12.col-md-8.offset-md-2
					ul#weilionTab.nav.nav-tabs(role="tablist")
						li.nav-item(role="presentation")
							a#purpose-tab.nav-link.active(data-toggle="tab", href="#purpose", role="tab", aria-controls="purpose", aria-selected="true") purpose
						li.nav-item(role="presentation")
							a#advantages-tab.nav-link(data-toggle="tab", href="#advantages", role="tab", aria-controls="advantages", aria-selected="false") advantages
					#weilionTabContent.tab-content
						#purpose.tab-pane.show.active(role="tabpanel", aria-labelledby="purpose-tab")
							.infobox
								ul.mb-0.pl-3
									li Explore the endless universe and the most advanced technologies.
									li Expanding matrix Mission
									li Create a space-cosmic matrix through an infinitely expanding blockchain platform
									li Simulate and test logical hypotheses from the 
										span weilion 
										| energy source into space through the Blockchain ecosystem
									li Convert discoveries to NFT assets and create a common playing field
									li Search for life on planets in space.
						#advantages.tab-pane(role="tabpanel", aria-labelledby="advantages-tab")
							.infobox
								span weilion space station 
								| is a matrix space station for the development of space exploration ecosystem using WEI energy for the initiation process. Theoretically, the WEI energy is made from each point in the blockchain space which is block-quantized in the matrix by the chain platform source core with core multi matters, for example Binance Smart Chain, Solana or Polygon... Chain platform source cores are encrypted in unique NFT form as a unique matter in blockchain space exploration.