weilion-team(id=app+"-team")
	.container 
		.row.align-items-center
			.col-12.col-lg-7
				h2.weispace-animated wei team
			.col-12.col-lg-5.text-lg-right
				.my-3.my-lg-0
					.headingcore
						//- .animatable(data-animate="animate__fadeInUp")
						span welion space 
						| is a matrix space station for the development of space exploration ecosystem using WEI energy for the initiation process. 
		.row.mt-3.mt-md-4.mt-lg-5
			.col-12.teams 
				h3 Executive
				.group-team.row.justify-content-center
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/adam.jpg", alt="")
							figcaption
								h4 adam do
								.info (Founder/CEO)
								.talent Pilot commander
		.row.mt-3.mt-md-4.mt-lg-0
			.col-12.teams 
				h3 Leadership 
				.group-team.row.justify-content-center
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/chien.jpg", alt="")
							figcaption
								h4 chien phan
								.info (COO, Co-Founder)
								.talent Ground commander of space crafts
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/tsai.jpg", alt="")
							figcaption
								h4 stefano tsai
								.info (Product Manager)
								.talent Module Pilot, Commander Spece object specialist
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/kinh.jpg", alt="")
							figcaption
								h4 kenvin nguyen
								.info (CTO/Blockchain Developer)
								.talent Flight engineer, Load commander
		.row.mt-3.mt-md-4.mt-lg-0
			.col-12.teams 
				h3 engineer 
				.group-team.row.justify-content-center
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/manh.jpg", alt="")
							figcaption
								h4 manh pham
								.info (AI, Solution & Product)
								.talent Flight engineer
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/sam.jpg", alt="")
							figcaption
								h4 sam
								.info (Designer)
								.talent Science Pilot
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/hai.jpg", alt="")
							figcaption
								h4 hai luong
								.info (Game Developer)
								.talent Flight engineer
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/nhat.jpg", alt="")
							figcaption
								h4 nhat ngoc
								.info (Frontend Developer)
								.talent Module Pilot
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/cuong.jpg", alt="")
							figcaption
								h4 cuong nguyen
								.info (Animator)
								.talent Module Pilot, Mission specialist
					.item.col-sm-6.col-lg-4.col-xl-3.animatable(data-animate="animate__fadeIn")
						figure 
							.block-img 
								img(src="./img/team/huong.jpg", alt="")
							figcaption
								h4 huong ngo
								.info (Artist)
								.talent Mission Specialist
