weilion-weispace(id=app+"-weispace")
	.container 
		.row 
			.col-12
				h2.weispace-animated weispace
				.row 
					.col-lg-5
						.infobox.my-3.my-lg-4.my-lg-5.animatable(data-animate="animate__fadeIn animate__slow")
							//- .animatable(data-animate="animate__fadeInUp")
							span welion space 
							| is a matrix space station for the development of space exploration ecosystem using WEI energy for the initiation process. Theoretically, the WEI energy is made from each point in the blockchain space which is block-quantized in the matrix by the chain platform source core with core multi matters, for example Binance Smart Chain or Aleph Zero. Chain platform source cores are encrypted in unique NFT form as a unique matter in blockchain space exploration.
						
						.numberbox.my-3.my-lg-4.my-lg-5 
							.item.animatable(data-animate="animate__fadeInUp animate__faster")
								h3 length of the truss
								p 916.00 m
							.item.animatable(data-animate="animate__fadeInUp animate__fast")
								h3 WEIGHT (2,052 tons)
								p ~2.052.000 kg
							.item.animatable(data-animate="animate__fadeInUp")
								h3 the pressurized volume
								p ~5.100  m3
							.item.animatable(data-animate="animate__fadeInUp animate__slow")
								h3 Length of all modules
								p 416 m
						.notebox.animatable(data-animate="animate__fadeInRight animate__slow")
							h3 
								svg.w-6.h-6.fill-white(stroke="currentColor", fill="currentColor", stroke-width="0", viewBox="0 0 24 24", height="1em", width="1em", xmlns="http://www.w3.org/2000/svg")
									circle(cx="12", cy="12", r="3")
									path(d="M13 4.069V2h-2v2.069A8.008 8.008 0 0 0 4.069 11H2v2h2.069A8.007 8.007 0 0 0 11 19.931V22h2v-2.069A8.007 8.007 0 0 0 19.931 13H22v-2h-2.069A8.008 8.008 0 0 0 13 4.069zM12 18c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6z")
								span lauch location
							p 10°22'46.7"N 104°03'24.9"E
							p Phu Quoc - VietNam

					.col-lg-7.lanch
						figure.mb-4.d-lg-none
							img.w-100(src="./img/home-weispace-bg-2.jpg", alt="", srcset="")
						ul.list-unstyled
							li.animatable(data-animate="animate__fadeInUp animate__faster")
								.icon 
									//- i.far.fa-calendar
									img(src="./img/launch.png", alt="", srcset="")
								.text 
									span Launch date
									span coming soon
							li.animatable(data-animate="animate__fadeInUp animate__fast")
								.icon 
									//- i.far.fa-comment-dots
									img(src="./img/speed.png", alt="", srcset="")
								.text 
									span orbital speed
									span 9.88 km/s
							li.animatable(data-animate="animate__fadeInUp")
								.icon 
									//- i.far.fa-clone
									img(src="./img/orbital.png", alt="", srcset="")
								.text 
									span orbital altitude
									span 520 km