weilion-roadmap(id=app+"-roadmap")
	.container 
		.row
			.col.col-sm-10.offset-sm-1.col-md-8.offset-md-2
				h2
					span.weispace-animated r
					span.weispace-animated o
					span.weispace-animated a
					span.weispace-animated d
					span.weispace-animated m
					span.weispace-animated a
					span.weispace-animated p
				.owl-carousel#roadmap
					.item(data-year="phase 1")
						h3 Q4 - 2022
						.infobox.animatable(data-animate="animate__fadeIn animate__slow")
							ul.list-unstyled
								li Launching Weilion Space on VR phase 1
									ul 
										li Register to visit the space station
										li Participate in space activities and experiences
										li See the earth from space
										li Communicate with the crew and members on the station
										li Learn as well as provide a vision of the further future in the matrix 
								li Development of Modules with functions for the ecosystem on Weilion station (NFT)
									ul 
										li Modules with scientific research function chambers, culture farm, 
										li Provide additional oxygen data to the station as well as exploit other data.

								//- li 1.1: Inception of Weilion 
								//- 	ul 
								//- 		li Concept introduction
								//- 		li Weilion Website 
								//- 		li Weimong Concept Art (2D)
								//- li 1.2: Building the foundation 
								//- 	ul 
								//- 		li Weimong Roadmap
								//- 		li Weilion Whitepaper
								//- 		li Weimong Website
								//- li 1.3: Collaboration with studios
								//- 	ul 
								//- 		li Weimong Game Concepts (2D) 
								//- 		li Marketplaces on Weilion
								//- li 1.4: Parallel setup of the primary platform
								//- 	ul 
								//- 		li Setup of Weilion Space Modules (3D) Concept Art studio on VR
								//- 		li Weimong-box pre-sale 
								//- li 1.5: Launch and release of the first 2D platform
								//- 	ul 
								//- 		li Alpha test weimong 1
								//- 		li Alpha test weimong 2
								//- 		li Weimong game opening
								//- 		li Mysterious gift box that allows reassembly and use
								//- li 1.6: Foundation development  
								//- 	ul 
								//- 		li Expansion of game maps on Weimong

					.item(data-year="phase 2")
						h3 Q1~Q3 - 2023
						.infobox.animatable(data-animate="animate__fadeIn animate__slow")
							ul.list-unstyled
								//- li 2.1: Launch of Weilion Space on VR technology phase 1
								//- 	ul 
								//- 		li Register for space station visits
								//- 		li Participate in outer space activities and experiences
								//- 		li Contemplate the earth from space
								//- 		li Communicate with space crews and members on the station
								//- 		li Learn as well as provide a vision of the further future in the matrix
								//- li 2.2: Development of Modules with functions for the Weilion station ecosystem (NFTs)
								//- 	ul 
								//- 		li Modules with scientific research functional chambers, culture farm, 
								//- 		li Provide the station with additional oxygen data as well as exploit other data.

								li Launching Weilion Space on VR Phase 2
									ul
										li Development of a satellite (NFT) and a lander (NFT) to explore the Moon
										li Explore the moon and send images (NFT)
										li Set up moonlit surface lander
										li Selecting the first astronauts to set foot to explore the moon from the country on board the crew ship
										li Marks and flags (NFT)
								li Building architectural infrastructure on the moon
									ul
										li Research and build scientific research and entertainment infrastructure on the surface Moon morning. Spatial Architecture (NFT)
										li Set up space flights from the station to the moon and learn As well as the virtual reality experience of the infrastructure. 
								li Expansion


					.item(data-year="phase 3")
						h3 Q3 2023-2024
						.infobox.animatable(data-animate="animate__fadeIn animate__slow")
							ul.list-unstyled
								//- li 3.1: Launch of Weilion Space on VR technology phase 2
								//- 	ul 
								//- 		li Develop satellites (NFTs) and landers (NFTs) to explore the Moon
								//- 		li Explore the moon and send images (NFTs) 
								//- 		li Set up the Moon lit part lander programme 
								//- 		li Select the first astronauts to set foot on the moon from countries on the crew ship 
								//- 		li Marks and flags (NFT)
								//- li 3.2: Construction of architectural infrastructure on the moon
								//- 	ul 
								//- 		li Research and build scientific research and entertainment infrastructure on the lit part of the moon. Space Architecture (NFT)
								//- 		li Set up space flights from the station to the moon and learn 
								//- 		li As well as experience the virtual reality of the infrastructures.
								//- li 3.3: Expansion 


								li Launching Weilion Space on VR Phase 3
									ul 
										li Development of satellite (NFT) and lander (NFT) to explore Mars
										li Explore Mars and send images from the probe satellite (NFT)
										li Set up the Mars surface lander
										li Selecting the first astronauts to set foot to explore Mars from the country on board the crew ship
										li Marks and flags (NFT) 
								li Building limited-scale infrastructure (1)
									ul 
										li Planning to build infrastructure 1
										li Opening and selling land bank 1
										li Open for sale the option of designing construction templates according to the project plan 
								li Welcoming the first inhabitants of limited Mars (1)
									ul
										li Issue resident card (NFT) to customers who own apartments on Mars
										li Issuance of fixed-term visas for non-resident customers
										li Community building and development


					.item(data-year="phase 4")
						h3 2024
						.infobox.animatable(data-animate="animate__fadeIn animate__slow")
							ul.list-unstyled
								li Discovering life exists in the universe
								//- li 4.1: Launch of Weilion Space on VR technology phase 3
								//- 	ul
								//- 		li Develop satellites (NFTs) and landers (NFTs) to explore the Mars
								//- 		li Explore Mars and send images from the probe satellites (NFTs) 
								//- 		li Set up the Mars surface landing programme
								//- 		li Select the first astronauts to set foot on the Mars from countries on the crew ship 
								//- 		li Marks and flags (NFT)
								//- li 4.2: Construction of limited-scale infrastructures (1)
								//- 	ul 
								//- 		li Plan for infrastructural construction 1
								//- 		li Open for sale land bank 1
								//- 		li Open for sale model construction design options subject to the project plan
								//- li 4.3: Welcoming the first colonists of limited Mars (1)
								//- 	ul 
								//- 		li Issue resident card (NFTs) to customers who own apartments on the Mars
								//- 		li Issue definite-term visas to non-resident customers              
								//- 		li Build and develop communities
