
weilion-tech(id=app+"-tech")
	.container 
		.row 
			.col-12
				h2 
					span.weispace-animated#text-weitech
				ul#weilionTechTab.nav.nav-tabs(role="tablist")
					li.nav-item(role="presentation")
						a#techpurpose-tab.nav-link.active(data-toggle="tab", href="#techpurpose", role="tab", aria-controls="techpurpose", aria-selected="true") 
							img(src="./img/saturn.png") 
							span orbit
					li.nav-item(role="presentation")
						a#techadvantages-tab.nav-link(data-toggle="tab", href="#techadvantages", role="tab", aria-controls="techadvantages", aria-selected="false") 
							img(src="./img/satellite.png") 
							span modules
				#weilionTechTabContent.tab-content
					#techpurpose.tab-pane.show.active(role="tabpanel", aria-labelledby="techpurpose-tab")
						.infobox
							p The Big Bang from the ledger in 2009 gave birth to the concept of blockchain space with multi-technology Galaxies created and spreading out all over the universe, which formed an ecosystem in the digital space. 
							p The countless Galaxies in the blockchain space that are formed by space influences and energy leaks from the Ethereum Galaxy make the planetary core diversity. 
							p The blockchain space matrix can be parallel to the physical world; however, it can be limited by different principles on each planet in the Galaxies. 
							p The blockchain space has been expanding at an unbelievable pace, which has triggered the outburst of new energy cores, creating planets and forming different Galaxies. 
							p The planetary systems around the energy core use the core energy to maintain and expand these Galaxies further and further
					#techadvantages.tab-pane(role="tabpanel", aria-labelledby="techadvantages-tab")
						.infobox
							.row 
								.col-lg-4.col-xl-7
									.owl-carousel.owl-tech#tech-01
										.item
											a(data-fancybox="gallery-1" href="./img/space_01_full.jpg")
												img(src="./img/space_01.jpg", alt="", srcset="")
										.item
											a(data-fancybox="gallery-1" href="./img/space_02_full.jpg")
												img(src="./img/space_02.jpg", alt="", srcset="")
										.item
											a(data-fancybox="gallery-1" href="./img/space_03_full.jpg")
												img(src="./img/space_03.jpg", alt="", srcset="")
										.item
											a(data-fancybox="gallery-1" href="./img/space_04_full.jpg")
												img(src="./img/space_04.jpg", alt="", srcset="")
										.item
											a(data-fancybox="gallery-1" href="./img/space_05_full.jpg")
												img(src="./img/space_05.jpg", alt="", srcset="")
										.item
											a(data-fancybox="gallery-1" href="./img/space_06_full.jpg")
												img(src="./img/space_06.jpg", alt="", srcset="")
								.col-lg-8.col-xl-5
									h3 weilion space station
									p 
										span Weilion 
										| is the first project to hold its own NFT (asset) space station.
									p
										span Weilion 
										| is the first project to build contemporary and future works by available resources (Token). 
									p The construction of a space station or module or structural work on the moon or Mars requires the project to pay a token amount of equivalent value in the platform environment for the time being; such payment will be put into the global staking pool so that all long-term holders can profit from staking.
									p
										span Weilion 
										| will allow residents to experience and grow in stages even though the detailed roadmap has not been revealed, all of which are surprising discoveries.