weilion-weimong(id=app+"-weimong")
	.img-top
		img(src="./img/overlay-weimong-top.png", alt="", srcset="")
	.container 
		.row.align-items-center
			.col-12.col-sm-7.col-md-6.col-lg-5.col-xl-4
				h2.weispace-animated wei mong
				.textdescription.animatable(data-animate="animate__fadeIn") WEIMONG is the mascot that astronauts always take with them when going into space, representing one of the preparation steps for the journey into space. Weimong builds an ecosystem to help users entertain and earn more NFT.
				.weilion-mong-btn.animatable(data-animate="animate__fadeInUp")
					text go to now
					span >>>
	.img-bottom
		img(src="./img/overlay-weimong-bottom.png", alt="", srcset="")