weilion-roadmap(id=app+"-roadmap")
	.container 
		.row
			.col.col-sm-10.offset-sm-1.col-md-8.offset-md-2
				h2.weispace-animated roadmap
				.owl-carousel#roadmap
					.item(data-year="phase 1")
						h3 q4 - 2022
						.infobox.animatable(data-animate="animate__fadeIn animate__slow")
							ul.list-item
								li Launching Weilion Space on VR phase 1
								li Register to visit the space station.
								li Participate in space activities and experiences.
								li See the earth from space
								li Communicate with the crew and members on the station
								li Learn as well as provide a vision of the further future in the matrix
								li Development of Modules with functions for the ecosystem on Weilion station (NFT)
								li Modules with scientific research function chambers, culture farm,
								li Provide additional oxygen data to the station as well as exploit other data.
					.item(data-year="phase 2")
						h3 q4 - 2022
						.infobox.animatable(data-animate="animate__fadeIn animate__slow")
							span welion space 
							| is a matrix space station for the development of space exploration ecosystem using WEI energy for the initiation process. Theoretically, the WEI energy is made from each point in the blockchain space which is block-quantized in the matrix by the chain platform source core with core multi matters, for example Binance Smart Chain or Aleph Zero. Chain platform source cores are encrypted in unique NFT form as a unique matter in blockchain space exploration.
					.item(data-year="phase 3")
						h3 q4 - 2022
						.infobox.animatable(data-animate="animate__fadeIn animate__slow")
							span welion space 
							| is a matrix space station for the development of space exploration ecosystem using WEI energy for the initiation process. Theoretically, the WEI energy is made from each point in the blockchain space which is block-quantized in the matrix by the chain platform source core with core multi matters, for example Binance Smart Chain or Aleph Zero. Chain platform source cores are encrypted in unique NFT form as a unique matter in blockchain space exploration.
					.item(data-year="phase 4")
						h3 q4 - 2022
						.infobox.animatable(data-animate="animate__fadeIn animate__slow")
							span welion space 
							| is a matrix space station for the development of space exploration ecosystem using WEI energy for the initiation process. Theoretically, the WEI energy is made from each point in the blockchain space which is block-quantized in the matrix by the chain platform source core with core multi matters, for example Binance Smart Chain or Aleph Zero. Chain platform source cores are encrypted in unique NFT form as a unique matter in blockchain space exploration.