// STYLES //////////////////////////////
weilion-roadmap
	position: relative
	display: flex
	align-items: flex-end
	padding: 4em 0 4rem 0
	flex-direction: column
	z-index: 50
	h2
		white-space: nowrap
		span
			user-select: none
			font-family: 'Mandalore'
			// -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5)
			// color: rgba(255,255,255,.3)
			font-size: 3rem
			letter-spacing: 7px
			overflow: hidden
			white-space: nowrap
			display: inline-flex
			color: rgba(red($weilion-sec-newspace), green($weilion-sec-newspace), blue($weilion-sec-newspace),.035)
			-webkit-text-stroke: 0.5px $weilion-sec-newspace
			text-shadow: 0px 0px 12px rgba(red($weilion-sec-newspace), green($weilion-sec-newspace), blue($weilion-sec-newspace),.5)
			// &:hover
			&.weispace-animated-visible
				opacity: 0
				&:nth-child(1)
					animation: textRoadAnimationOneTime 1s .5s ease-in forwards, textRoadAnimation 1s 1.95s ease-in-out infinite alternate
				&:nth-child(2)
					animation: textRoadAnimationOneTime 1s 1.3s ease-in forwards, textRoadAnimation 1s 1.75s ease-in-out infinite alternate
				&:nth-child(3)
					animation: textRoadAnimationOneTime 1s .7s ease-in forwards, textRoadAnimation 1s 0.85s ease-in-out infinite alternate
				&:nth-child(4)
					animation: textRoadAnimationOneTime 1s 1.5s ease-in forwards, textRoadAnimation 1s 1.5s ease-in-out infinite alternate
				&:nth-child(5)
					animation: textRoadAnimationOneTime 1s .9s ease-in forwards, textRoadAnimation 1s 0.5s ease-in-out infinite alternate
				&:nth-child(6)
					animation: textRoadAnimationOneTime 1s 1.7s ease-in forwards, textRoadAnimation 1s 1.2s ease-in-out infinite alternate
				&:nth-child(7)
					animation: textRoadAnimationOneTime 1s 1.1s ease-in forwards, textRoadAnimation 1s 1.75s ease-in-out infinite alternate
				&:nth-child(8)
					animation: textRoadAnimationOneTime 1s 2s ease-in forwards, textRoadAnimation 1s 1s ease-in-out infinite alternate
	h3 
		font-size: 2rem
		font-family: 'Mandalore'
		color: $weilion-sec-newspace
		margin: 1rem 0 1rem 0
		letter-spacing: 1px
	.infobox
		ul.list-unstyled
			> li 
				font-family: 'Mandalore'
				letter-spacing: 3px
				font-size: 1.2rem
			ul 
				margin: .5rem 0
				li 
					font-family: 'Roboto Mono'
					letter-spacing: normal
					font-size: .9rem
					color: lighten($weilion-copyright-text,15% )
	#roadmap.owl-carousel
		+media-breakpoint-down(md)
			.owl-nav
				display: flex
				justify-content: center
				align-items: center
				margin-top: 1rem
				.owl-prev,
				.owl-next
					display: flex
					width: 2rem
					height: 2rem
					background: rgba(255,255,255,.1)
					justify-content: center
					align-items: center
					margin: 0.25rem
					color: #000
				.owl-prev
					&:hover
						background: rgba(red($weilion-sec-newspace), green($weilion-sec-newspace), blue($weilion-sec-newspace),.5)
				.owl-next
					&:hover
						background: rgba(red($weilion-sec-newspace), green($weilion-sec-newspace), blue($weilion-sec-newspace),.5)
		.owl-dots
			button.owl-dot
				// margin-right: .5rem
				z-index: 10
				font-family: 'Mandalore'
				color: $weilion-copyright-text
				font-size: 1.3rem
				letter-spacing: 3px
				margin-bottom: 0
				border: 0
				border-radius: 0
				background: none
				box-shadow: none
				display: inline-block
				padding: .5rem 1.5rem !important
				background: darken($weilion-bg,5% )
				&.active, 
				&:focus,
				&:hover
					color: #fff
					background: rgba(red($weilion-sec-newspace), green($weilion-sec-newspace), blue($weilion-sec-newspace),1)
	+media-breakpoint-up(md)
		h2
			span 
				font-size: 4rem
				letter-spacing: 8px
	+media-breakpoint-up(lg)
		padding: 5em 0 4rem 0
		h2
			span 
				font-size: 5rem
				letter-spacing: 12px
		.owl-carousel
			// margin-top: 2rem 
			display: flex !important
			flex-direction: column
			.owl-stage-outer
				order: 2
			.owl-dots
				order: 1
				margin-top: 2rem
				margin-bottom: 2rem
				display: flex
				justify-content: space-between
				align-items: center
				position: relative
				&:after
					content: ''
					display: block
					clear: both
					height: 2px
					width: 100%
					position: absolute
					bottom: 50%
					left: 0
					z-index: -1
					background: darken($weilion-bg,5% )
				.owl-dot
					z-index: 10
					
	+media-breakpoint-up(xl)
		padding: 7rem 0 4rem 0
		h2
			span 
				font-size: 6rem
				letter-spacing: 10px

@keyframes textRoadAnimation
	0%
		transform: translate(0, 0)
		letter-spacing: 0px
	100%
		transform: translate(3px, 0)
		letter-spacing: 30px
@keyframes textRoadAnimationOneTime
	0%
		transform: rotateZ(2320deg)
		letter-spacing: 30px
		opacity: 0
		color: rgba(red($weilion-sec-newspace), green($weilion-sec-newspace), blue($weilion-sec-newspace),.035)
		-webkit-text-stroke: 0 $weilion-sec-newspace
		text-shadow: 0px 0px 12px rgba(red($weilion-sec-newspace), green($weilion-sec-newspace), blue($weilion-sec-newspace),.5)
	50%
		transform: rotateZ(520deg)
		opacity: .15
		letter-spacing: -50px
	80%
		transform: rotateZ(0deg)
		opacity: .15
		letter-spacing: 50px
	100%
		opacity: 1