extends _layout/layout

block variables
	- var title = 'INDEX'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var href = "/index.html"
block body
	div(class="page__style home")
		div(class="page__description")
			#home
				.box
				h1 Home
				button(class="btn_nav projects_link") Projects
				button(class="btn_nav skills_link") Skills
				button(class="btn_nav home_link") Home
				button(class="btn_nav about_link") About
				button(class="btn_nav contact_link") Contact
				p Thanks 
					a(href="https://codyhouse.co/gem/animated-page-transition/", target="_blank") codyhouse.co
