extends _layout/layout

block variables
	- var title = 'INDEX'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var href = "/index.html"
block body
	div(class="page__style animate_content")
		div(class="page__description")
			#home
				.box
				h1 Home
				button(class="btn_nav projects_link") Projects
