// STYLES //////////////////////////////
// INIT CORE 
@import bower_components/bootstrap/scss/bootstrap

// SET VARIABLES
$weilion-main-color: #1968b3
$weilion-sec-color: #f26528
$weilion-star-color: #ffeb3b
$weilion-bg: #242424
$weilion-border: #ddd
$weilion-copyright-bg: #f9f9f9
$weilion-copyright-text: #666
$weilion-transition: all 300ms ease
$weilion-font: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"

@font-face
	font-family: 'Mandalore'
	src: url('../webfonts/Mandalore.svg#Mandalore') format("svg"), url('../webfonts/Mandalore.ttf') format("truetype"), url('../webfonts/Mandalore.woff') format("woff")
	src: url('../webfonts/Mandalore.eot')
	src: url('../webfonts/Mandalore.eot?#iefix') format("embedded-opentype"), url('../webfonts/Mandalore.woff2') format("woff2")
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'Mandalore3D'
	src: url('../webfonts/Mandalore3D.svg#Mandalore3D') format("svg"), url('../webfonts/Mandalore3D.ttf') format("truetype"), url('../webfonts/Mandalore3D.woff') format("woff")
	src: url('../webfonts/Mandalore3D.eot')
	src: url('../webfonts/Mandalore3D.eot?#iefix') format("embedded-opentype"), url('../webfonts/Mandalore3D.woff2') format("woff2")
	font-weight: normal
	font-style: normal


// INCLUDES
@import _includes/header
@import _includes/footer

// INIT ROOT SETUP 
body
	font-family: $weilion-font
	background: $weilion-bg
	section
		font-family: 'Poppins'

.cd-btn
	display: inline-block
	padding: 1.4em 1.6em
	margin-bottom: 2em
	border-radius: 50em
	background-color: #283040
	color: #ffffff
	font-weight: bold
	font-size: 1.3rem
	letter-spacing: 1px
	text-transform: uppercase
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1)

.no-touch .cd-btn:hover
	background-color: #323c50

.cd-about .cd-btn
	background-color: #4089a6

/* -------------------------------- 
 *
 *Main Components 
 *
 *--------------------------------

body
	&::after
		/* these are the 2 half blocks which cover the content once the animation is triggered
		content: ''
		height: 50vh
		width: 100%
		position: fixed
		left: 0
		background-color: #ffffff
		z-index: 1

		/* Force Hardware Acceleration
		-webkit-backface-visibility: hidden
		backface-visibility: hidden
		-webkit-transform: translateZ(0)
		-moz-transform: translateZ(0)
		-ms-transform: translateZ(0)
		-o-transform: translateZ(0)
		transform: translateZ(0)
		-webkit-transition: -webkit-transform 0.4s 0.4s
		-moz-transition: -moz-transform 0.4s 0.4s
		transition: transform 0.4s 0.4s

	&::before
		/* these are the 2 half blocks which cover the content once the animation is triggered
		content: ''
		height: 50vh
		width: 100%
		position: fixed
		left: 0
		background-color: #ffffff
		z-index: 1

		/* Force Hardware Acceleration
		-webkit-backface-visibility: hidden
		backface-visibility: hidden
		-webkit-transform: translateZ(0)
		-moz-transform: translateZ(0)
		-ms-transform: translateZ(0)
		-o-transform: translateZ(0)
		transform: translateZ(0)
		-webkit-transition: -webkit-transform 0.4s 0.4s
		-moz-transition: -moz-transform 0.4s 0.4s
		transition: transform 0.4s 0.4s
		top: 0
		-webkit-transform: translateY(-100%)
		-moz-transform: translateY(-100%)
		-ms-transform: translateY(-100%)
		-o-transform: translateY(-100%)
		transform: translateY(-100%)

	&::after
		bottom: 0
		-webkit-transform: translateY(100%)
		-moz-transform: translateY(100%)
		-ms-transform: translateY(100%)
		-o-transform: translateY(100%)
		transform: translateY(100%)

	&.page-is-changing
		&::after, &::before
			-webkit-transform: translateY(0)
			-moz-transform: translateY(0)
			-ms-transform: translateY(0)
			-o-transform: translateY(0)
			transform: translateY(0)
			-webkit-transition: -webkit-transform 0.4s 0s
			-moz-transition: -moz-transform 0.4s 0s
			transition: transform 0.4s 0s


.page__style 
	background: #6D326D
	font-family: OpenSans-Regular, sans-serif
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	height: 100%
	width: 100%
	margin: auto auto
	overflow: hidden
	.page__description
		color: #ffffff
		font-weight: 300
		text-align: center
	



// Animation class
.animate_content
	animation: animate 2s ease

@keyframes animate
	0%
		transform: scale(0, 0)
	// 50%
		// transform: scale(1, 0.002)
	75%
		opacity: 1
		transform: scale(1, 0.002)
	100%
		transform: scale(1, 1)

.fadeIn
	z-index: 10

/*  Projects
.projects
	background:#BD5DE9
