<!-- ////////////// HEADER ////////////// -->
weilion-header#weilion-header.fixed-top
	weilion-header-container.container
		weilion-nav.navbar.navbar-expand-lg
			a.navbar-brand(href="/#weilion-home") 
				img(src="./img/logo.webp", alt="Weilion Logo")
			button#welionMenu(type="button" data-target="#welionToggleMenu" aria-controls="welionToggleMenu")
				span
				span
				span
				span
				#pulseMe
					.bar.left
					.bar.top
					.bar.right
					.bar.bottom
			weilion-toggle-menu#welionToggleMenu
				ul.navbar-nav
					//- li.nav-item.active
						a.nav-link(href="/")
							| Home Page
					//- li.nav-item.dropdown
						a#dropdownWeilion.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") about us
						.dropdown-menu(aria-labelledby="dropdownWeilion")
							a.dropdown-item(href="#weilion-team") team
							//- a.dropdown-item(href="#weilion-whitepaper") whitepaper
							a.dropdown-item(href="#weilion-roadmap") roadmap
					li.nav-item
						a.nav-link(href="#weilion-weispace") weispace
					li.nav-item
						a.nav-link(href="#weilion-generation") generation
					li.nav-item
						a.nav-link(href="#weilion-weimong") weimong
					li.nav-item
						a.nav-link(href="#weilion-tech") tech
					li.nav-item
						a.nav-link(href="#weilion-roadmap") roadmap
					li.nav-item
						a.nav-link(href="#weilion-team") team
					li.nav-item
						a.nav-link(href="#weilion-contact") contact us
					//- li.nav-item.button-action
						a.nav-link(href="#weilion-wallet") connect wallet
<!-- ////////////// HEADER ////////////// -->
