<!-- ////////////// HEADER ////////////// -->
weilion-header#weilion-header.fixed-top
	weilion-header-container.container
		weilion-nav.navbar.navbar-expand-lg
			a.navbar-brand(href="/#weilion-home") 
				img(src="./img/logo.webp", alt="Weilion Logo")
			button#welionMenu(type="button" data-target="#welionToggleMenu" aria-controls="welionToggleMenu")
				span
				span
				span
				span
				#pulseMe
					.bar.left
					.bar.top
					.bar.right
					.bar.bottom
			weilion-toggle-menu#welionToggleMenu
				ul.navbar-nav
					//- li.nav-item.active
						a.nav-link(href="/")
							| Home Page
					li.nav-item.dropdown
						a#dropdownAboutWeilion.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") about us
						.dropdown-menu(aria-labelledby="dropdownAboutWeilion")
							a.dropdown-item(href="#weilion-team") 
								span t
								| eam
							a.dropdown-item(href="#weilion-roadmap") 
								span r
								| oadmap
					li.nav-item
						a.nav-link(href="#weilion-weispace") 
							span w
							| eispace
					li.nav-item
						a.nav-link(href="#weilion-generation") 
							span g
							| eneration
					li.nav-item
						a.nav-link(href="#weilion-tech") tec
							span h
					li.nav-item
						a.nav-link(href="#weilion-weimong") we
							span i
							| mong
					li.nav-item
						a.nav-link(href="#weilion-resources") res
							span o
							| urces
					li.nav-item
						a.nav-link(href="#weilion-contact") 
							span c
							| ontact
					li.nav-item.button-action
						a.nav-link(href="javascript:void(0);", data-toggle="modal", data-target="#weilionBackdrop") market place
<!-- ////////////// HEADER ////////////// -->
