<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg
			a.navbar-brand(href="./index.html") 
				img(src="./img/logo_w.png", alt="Logo")
			button.navbar-toggler.menu.collapsed(type="button" data-toggle="collapse" data-target="#nguyenMenu" aria-controls="nguyenMenu" aria-expanded="false" aria-label="Toggle navigation")
				svg(viewBox="0 0 100 80", width="30", height="30")
					rect(width="100", height="16")
					rect(y="30", width="100", height="16")
					rect(y="60", width="100", height="16")
			#nguyenMenu.collapse.navbar-collapse
				.mr-auto
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href="index.html")
							| Home Page
					//- li.nav-item.dropdown
					//- 	a#dropdownFS.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Our services
					//- 	.dropdown-menu(aria-labelledby="dropdownFS")
					//- 		a.dropdown-item(href="#") Demo 1
					//- 		a.dropdown-item(href="#") Demo 2
					//- li.nav-item
						a.nav-link(href="#about-us") About Us
					//- li.nav-item
						a.nav-link(href="#services") Our services
					//- li.nav-item
						a.nav-link(href="#testimonial") Testimonial
<!-- ////////////// HEADER ////////////// -->
