<!-- ////////////// HEADER ////////////// -->
header#weilion-header.fixed-top
	.container
		nav.navbar.navbar-expand-lg
			a.navbar-brand(href="/") 
				img(src="./img/logo.webp", alt="Weilion Logo")
			button#welionMenu(type="button" data-target="#welionToggleMenu" aria-controls="welionToggleMenu")
				span
				span
				span
				span
			#welionToggleMenu
				ul.navbar-nav
					//- li.nav-item.active
						a.nav-link(href="/")
							| Home Page
					li.nav-item.dropdown
						a#dropdownFS.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") about us
						.dropdown-menu(aria-labelledby="dropdownFS")
							a.dropdown-item(href="#") Demo 1
							a.dropdown-item(href="#") Demo 2
					//- li.nav-item
						a.nav-link(href="#about-us") about us
					li.nav-item
						a.nav-link(href="#about-us") weispace
					li.nav-item
						a.nav-link(href="#about-us") orbit
					li.nav-item
						a.nav-link(href="#about-us") weimong
					li.nav-item
						a.nav-link(href="#about-us") market place
<!-- ////////////// HEADER ////////////// -->
